---
import { Image } from "astro:assets";
import BackButton from "@/components/backButton.astro";
import BookOpen from "@/icons/BookOpen.astro";
import DownloadIcon from "@/icons/DownloadIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { getBookBySlug } from "@/services/get-book-by-slug";
import { dataBooks } from "@/utils/data";
import type { GetStaticPaths } from "astro";

// Generá los parametros de manera estatica
export const getStaticPaths = (() => {
	return dataBooks.map(({ slug }) => {
		return {
			params: { slug },
		};
	});
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const book = getBookBySlug(slug);
---

<Layout title=`${book?.titulo}`>
  <BackButton />
  
  <main class="md:max-w-3xl mx-auto pb-10">
    <div class="py-2">
      <h1 class="text-3xl font-bold">{book?.titulo}</h1>
        <span class="text-gray-400">
          {book?.autor}
        </span>
    </div>
    <section class="md:flex md:justify-between gap-x-5">
      <Image
        src={book?.portada ?? ""}
        alt={book?.titulo ?? ""}
        width="200"
        height="400"
        loading={"eager"}
        class="rounded-md w-[220px] h-[350px] mx-auto md:mx-0"
      />
      <article>
        <div class="py-2">
          <span class="font-semibold text-xl">Sinopsis</span>
          <p class="text-gray-300 text-pretty leading-relaxed prose prose-lg whitespace-pre-line">
            {book?.sinopsis}
          </p>
        </div>
        <div class="flex items-center justify-end gap-x-4">
          <a
            href={book?.url}
            target="_blank"
            rel="noopener noreferrer"
            class="border-[2px] border-white/20 hover:border-blue-500 hover:text-blue-500 active:scale-95 transition-all py-3 px-4 rounded-xl md:flex items-center gap-x-2 hidden "
          >
            Visualizar
            <BookOpen />
          </a>
          <a
            href={book?.url}
            download
            class="bg-blue-500 py-3 px-4 rounded-xl flex items-center gap-x-2 active:scale-95 transition-all"
          >
            Descargar
            <DownloadIcon />
          </a>
        </div>
      </article>
    </section>
  </main>
</Layout>
