---
import { Image } from "astro:assets";
import { dataBooks } from "../utils/data";
---

<h3 class="text-end py-3 text-lg text-gray-300">
  <strong class="text-white">{dataBooks.length}</strong> Libros totales
</h3>
<section class="flex flex-wrap gap-3 md:gap-10">
  {
    dataBooks.map(({ titulo, portada, autor, slug }) => (
      <a href={`/detalles/${slug}`}>
        <article class="w-[175px] md:w-[200px] group">
          <Image
            src={portada ?? ""}
            alt={titulo}
            loading={"eager"}
            class="rounded-md w-[180px] h-[280px] md:w-[200px] md:h-[300px] mx-auto group-hover:scale-[1.04] transition-all image"
            width="200"
            height="300"
          />
          <h2 class="font-bold text-lg text-balance py-2 capitalize truncate group-hover:text-emerald-500 transition-all">
            {titulo}
          </h2>
          <span class="text-neutral-300">{autor} </span>
        </article>
      </a>
    ))
  }
</section>
